**Import necessary libraries**

In [76]:
import pandas as pd
import urllib.request
import sys

**Now we need to import a library to read tables from the website. This library is developed by Josua Schmid**

In [37]:
from html_table_parser import HTMLTableParser

**Now that we have imported the library, we can read the tables from the website of interest. In this notebook, we will work with neighbos list of Toronto**

In [38]:
target = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

**The following lines of code read the table from the wikipedia page**

In [39]:
req = urllib.request.Request(url=target)
f = urllib.request.urlopen(req)
xhtml = f.read().decode('utf-8')

In [40]:
p = HTMLTableParser()
p.feed(xhtml)

In [41]:
Table_list = p.tables

In [42]:
Table_data = pd.DataFrame.from_dict(Table_list[0])

In [43]:
Table_data.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

**As we can see from the dataframe above, the column headers are numbers and we need to change it to "Postcode", "Borough", and "Neighbourhood".**

In [44]:
new_header = Table_data.iloc[0] #grab the first row for the header
Table_data = Table_data[1:] #take the data less the header row
Table_data.columns = new_header #set the header row as the df header

In [45]:
Table_data.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

**Now we need to remove the rows that has not assigned Borough**

In [50]:
indexNames = Table_data[ Table_data['Borough'] == 'Not assigned' ].index
Table_data.drop(indexNames , inplace=True)
Table_data = Table_data.reset_index(drop=True)

In [51]:
Table_data.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [74]:
Table_data.shape

(210, 3)

In [71]:
Table_new = Table_data.groupby('Postcode').agg({'Borough':'first','Neighbourhood':','.join}).reset_index()

In [72]:
Table_new.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [73]:
Table_new.shape

(103, 3)