**Import necessary libraries**

In [2]:
import pandas as pd
import urllib.request
import sys

**Now we need to import a library to read tables from the website. This library is developed by Josua Schmid**

In [3]:
from html_table_parser import HTMLTableParser

**Now that we have imported the library, we can read the tables from the website of interest. In this notebook, we will work with neighbos list of Toronto**

In [4]:
target = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

**The following lines of code read the table from the wikipedia page**

In [5]:
req = urllib.request.Request(url=target)
f = urllib.request.urlopen(req)
xhtml = f.read().decode('utf-8')

In [6]:
p = HTMLTableParser()
p.feed(xhtml)

In [7]:
Table_list = p.tables

In [8]:
Table_data = pd.DataFrame.from_dict(Table_list[0])

In [9]:
Table_data.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

**As we can see from the dataframe above, the column headers are numbers and we need to change it to "Postcode", "Borough", and "Neighbourhood".**

In [10]:
new_header = Table_data.iloc[0] #grab the first row for the header
Table_data = Table_data[1:] #take the data less the header row
Table_data.columns = new_header #set the header row as the df header

In [11]:
Table_data.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

**Now we need to remove the rows that has not assigned Borough**

In [12]:
indexNames = Table_data[ Table_data['Borough'] == 'Not assigned' ].index
Table_data.drop(indexNames , inplace=True)
Table_data = Table_data.reset_index(drop=True)

In [13]:
Table_data.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [14]:
Table_data.shape

(210, 3)

In [15]:
Table_new = Table_data.groupby('Postcode').agg({'Borough':'first','Neighbourhood':','.join}).reset_index()

In [16]:
Table_new.head()
Postcode = Table_new['Postcode']

In [17]:
Table_new.shape

(103, 3)

In [20]:
Table_new.sort_values(by=['Postcode'])
Table_new.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

**Now we need to add the latitude and longitude of each region to the table. To do so, I read these infromation from the csv file provided. Then, I will join these two data frames**

In [19]:
geospatial = pd.read_csv('Geospatial_Coordinates.csv')
geospatial.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [28]:
Final_table = pd.merge(left=Table_new, right=geospatial, how='inner', left_on='Postcode', right_on='Postal Code')
Final_table.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [31]:
Final_table.drop(['Postal Code'], axis = 1)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054